.idea/
__pycache__/
config.py
*.csv
.DS_Store

!environment.yml
!conda-lock.yml

documentation/*
!documentation/AOIs.md
!documentation/TODOs.md
!documentation/DB_SETUP.md

experimentation/*
!experimentation/Point_Cloud_Demo.ipynb
!experimentation/Merge_footprint_and_LiDAR_points.ipynb

archive/*

assets/*
!assets/coventry_building_footprints.geojson
!assets/cropped_16.las
!assets/cropped_24.las
!assets/cropped_31.las
!assets/cropped_41.las

assets/images/*
!assets/images/example.png

venv/*

