.idea/
__pycache__/
config.py
*.csv
.DS_Store
.env

!environment.yml
!conda-lock.yml

documentation/*
!documentation/AOIs.md
!documentation/TODOs.md
!documentation/DB_SETUP.md
!documentation/DB_CONTAINER_SETUP.md

experimentation/*
!experimentation/Point_Cloud_Demo.ipynb
!experimentation/Merge_footprint_and_LiDAR_points.ipynb

archive/*

assets/images/*
!assets/images/example.png
!assets/images/Terminal.png

assets/*
!assets/coventry_building_footprints.geojson
!assets/cropped_16.las
!assets/cropped_24.las
!assets/cropped_31.las
!assets/cropped_41.las

assets/footprints/*
assets/local_authority_boundaries/*
assets/uk_lidar_data/*
assets/uprn/*

outputs/aerial_images/*
outputs/example_pointclouds/*
outputs/pointcloud_npz/*

venv/*
