.idea/
__pycache__/
*.csv
.DS_Store

experimentation/*
!experimentation/Point_Cloud_Demo.ipynb

assets/*
!assets/coventry_building_footprints.geojson
!assets/cropped_16.las
!assets/cropped_24.las
!assets/cropped_31.las
!assets/cropped_41.las

assets/images/*
!assets/images/example.png

!environment.yml